<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <main>
        <h2>Welcome to the Admin page.</h2>
        <p>You are an admin!</p>
        <button><a href="/logout">Logout</a></button>
    </main>
</body>
</html>
