<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <main>
        <h2>Welcome to the Node Session Cookie Demo.</h2>
        <p>You are successfully logged in!</p>
        <button><a href="/logout">Logout</a></button>
        <button><a href="/admin">Admin</a></button>
        <button><a href="/welcome">Welcome</a></button>
    </main>
</body>
</html>
